[Desktop Entry]
Icon=text-html
Name=https://leetcode.com/problems/text-justification/?envType=study-plan-v2&envId=top-interview-150
Type=Link
URL[$e]=https://leetcode.com/problems/text-justification/?envType=study-plan-v2&envId=top-interview-150
